body {
  font-family: "Aboreto";
}

/*HOME*/
.homeContainer {
  overflow-x: hidden;
}

#pathicHeader {
  height: 100vh;
  padding: 16rem 3rem 8rem 3rem;
}

#pathicLogoRow {
  justify-content: center;
}

#pathicTitleRow {
  justify-content: center;
}

#headerCol2 {
  padding-right: 4rem;
}

#pathicHeader #pathicLogo {
  width: 200px;
  height: 100px;
}

#pathicHeader h1 {
  font-size: 100px;
  max-width: 560px;
  text-align: center;
}

#pathicHeader h2 {
  font-size: 40px;
  max-width: 280px;
  padding: 0 1rem;
}

#throughTimeRow  {
  justify-content: right;
}

#homeContent {
  padding: 5rem 3rem;
}

.revealContent {
  transition: opacity 1.5s;
  opacity: 1 !important;
}

#collectContent {
  min-height: 70vh;
  padding: 5rem 0;
  opacity: 0;
}

#collectContent p {
  max-width: 550px;
  padding-left: 1.5rem;
}

#collectContentCol {
  padding: 2rem 0;
}

#collectButtonRow {
  padding-left: 3rem;
}

#homeToBlogButton {
  max-width: 250px;
  background-color: black;
}

#interactContent {
  min-height: 70vh;
  padding: 5rem 0;
  opacity: 0;
}

#interactContent .col {
  justify-content: right;
}

#interactContentCol {
  padding: 2rem 0;
}

#interactContent p {
  padding-right: 4rem;
  text-align: right;
}

#interactButtonRow {
  padding-right: 6rem;
  justify-content: right;
}

#connectContent {
  min-height: 70vh;
  padding: 5rem 0;
  opacity: 0;
}

#connectContent p {
  max-width: 550px;
  padding-left: 1.5rem;
}

#connectContentCol {
  padding: 2rem 0;
}

#connectButtonRow {
  padding-left: 3rem;
}

/*NAVBAR*/
.navbar-topper {
  color: black;
}

#pathicNavbar {
  height: 100px;
}

/*HOME*/
.home-container {
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.pathic-about-section {
  padding: 10rem 0;
}

.pathic-about-paragraph {
  padding: 0rem 2rem;
}

@media (min-width: 576px) {
  .pathic-about-paragraph {
    padding: 0rem 6rem;
  }
}

@media (min-width: 1200) {
  .pathic-about-paragraph {
    padding: 0rem 8rem;
  }
}

/*BLOG*/
#blogHomeContainer {
  background: white;
  min-height: 120vh;
  height: auto;
  overflow-x: hidden;
}

#blogHomeRow {
  padding: 12rem 3rem 8rem 3rem;
}

#blogHomeContainer h1 {
  padding-top: 2rem;
  text-align: center;
  font-size: 60px;
}

#blogList {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#blogList > .card {
  margin: 3rem 0;
  padding: 1rem;
}

@media (min-width: 576px) {
  #blogHomeContainer {
    background: white;
    min-height: 100vh;
    height: auto;
  }

  #blogList {
    justify-content: center;
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    width: 60%;
  }

  #blogList > .card {
    margin: 3rem 0;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  #blogHomeContainer {
    background: white;
    min-height: 100vh;
    height: auto;
  }

  #blogList {
    justify-content: center;
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    width: 75%;
  }

  #blogList > .card {
    margin: 3rem 0;
    padding: 1rem;
  }
}

/*Blog content page and dynamic sizing*/
#blogPostContainer {
  background: white;
  min-height: 100vh;
  height: auto;
}

#blogContent {
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  padding: 7.5rem 1rem 2rem;
  color: black;
}

#blogContent > h1 {
  text-align: center;
  padding-bottom: 0.5rem;
}

#blogContent > h6 {
  padding: 0.25rem 0.75rem;
  font-size: small;
}

#blogContent > p {
  padding: 1rem 0.5rem;
  font-size: medium;
}

@media (min-width: 576px) {
  #blogPostContainer {
    background: white;
    min-height: 100vh;
    height: auto;
  }

  #blogContent {
    margin: 0 auto;
    width: 80%;
    padding: 7.5rem 15rem 2rem 0rem;
    color: black;
  }

  #blogContent > h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  #blogContent > h6 {
    padding: 0.5rem 3rem;
  }

  #blogContent > p {
    padding: 2rem 4rem;
    font-size: large;
  }
}

@media (min-width: 1200px) {
  #blogPostContainer {
    background: white;
    min-height: 100vh;
    height: auto;
  }

  #blogContent {
    margin: 0 auto;
    width: 75%;
    padding: 7.5rem 25rem 2rem 0rem;
    color: black;
  }

  #blogContent > h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  #blogContent > h6 {
    padding: 0.5rem 3rem;
  }

  #blogContent > p {
    padding: 2rem 4rem;
    font-size: large;
  }
}

/*PATHIC*/

#cesiumContainer {
  position: relative;
  overflow: hidden;
  height: max-content;
}


#searchBox {
  position: fixed;
  top: 50px;
  right: 40%;
  z-index: 99;
  overflow: hidden;
  font-size: large;
  height: 80px; 
  width: 500px;
}

.hidden {
  display: none;
}

#dataBox {
  position: fixed;
  top: 120px;
  right: 5%;
  z-index: 99;
  font-size: large;
  height: 650px;
  width: 500px;
  background-color: white;
  opacity: 40%;
}


#dataBox .row {
  padding: 0.15rem 0;
}

#dataBoxCol {
  padding: 1rem 1rem;
  opacity: 1 !important;
}

/*FOOTER*/